- var datalink = "http://data.baltimoresun.com/news/dance-travel/"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Visualizing Dallas Dance's trips in 2016
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat|Droid+Serif")
		link(rel="stylesheet" href=datalink + "css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="Visualizing Dallas Dance's trips in 2016")
		meta(property="og:url", content="http://data.baltimoresun.com/news/dance-travel/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/dance-travel/thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Visualizing Dallas Dance's trips in 2016")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/dance-travel/thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		include includes/ad-for-header.html

	body
		//- This omniture file will also add a topnav.
		//- Remember to update the omniture tags
		include includes/omniture.html

		.container
			h1 Visualizing Dallas Dance's trips in 2016
			.calViz
				p Former Baltimore County school superintendent Dallas Dance traveled extensively on school business during his time on the job, according to travel records obtained by The Baltimore Sun.
				p Many of these trips were to attend or speak at education-focused conferences and symposiums. 2016 was a particularly busy year for travel: records show that Dance spent over 80 days on the road for official school business during 2016 alone.
				p Here we visualize out the out-of-town trips that Dance took in 2016; highlighting dates, destination, and costs to the taxpayer.
				a(href="http://data.baltimoresun.com/news/dance-travel-map/" target="_blank") More: Mapping Dance's 2016 trips | Baltimore Sun's investigation into Dallas Dance's travel
				.tooltipAnchor
				include includes/tripcalendar.svg
				p.source Source: Staff reports
		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		#leaderboard
			include includes/ad-for-body.html

		//Javascript
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src="https://d3js.org/d3.v4.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/min/app.min.js")

